$text-color: #111111;

$primary-color: #6482b9;
$primary-hover-color: #779adb;
$accent-color: #BBDEFB;
$highlight-color: #DDDDDD;

$bglight-color: #FAFAFE;
$bgmedium-color: #efeffd;
$bgdark-color: #cccce9;
$bgdarker-color: #aaaada;

$err-primary-color: #FF0000;
$err-accent-color: #ffbbbb;
$err-highlight-color: #b97373;

$link-color: #3131e4;