@import "../../styles/_index";

.backlinkList {
  padding: $spacing-s;
}

.backlinkDetail {
  cursor: pointer;
  font-size: smaller;
  color: $bgdarker-color;
}

.backlinkDetail:hover {
  text-decoration: underline;
}