@import "../../styles/_index";

.NoteEditor {
  width: 100%;
  height: auto;

  outline: none;
  border-style: none;
  
  overflow: hidden;
  resize: none;

  color: $text-color;
  background-color: $background-color;

  font-size: 16px;
  font-family: 'Ubuntu Mono', monospace;
}
