@import "../../styles/_index";

.Notebook {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.Navigator {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: $spacing-xs;
  background-color: $dark-background-color;

  -webkit-box-shadow: 0 0 $spacing-s 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 $spacing-s 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 $spacing-s 0 rgba(0,0,0,0.5);
}

.Navigator > span {
  -ms-user-select: none;
  user-select: none;
}

.EditPanel {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.NavButton {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: inherit;
  text-align: left;
}

.NavButton:hover {
  background-color: $background-color;
}