@import "../../styles/_index";

.NoteFileHeader {
  padding: $spacing-xxs;
  display: inline-block;
  flex-direction: row;
}

.NoteFileHeader > * {
  vertical-align: baseline;
}

.PinNoteButton:hover {
  cursor: pointer;
}

.NoteFileHeader > span {
  font-size: $spacing-xl;
  margin: $spacing-s;
}