
.NoteFileHeader {
  display: inline-block;
  flex-direction: row;
}

.NoteFileHeader > * {
  vertical-align: baseline;
}

.PinNoteButton:hover {
  cursor: pointer;
}

.NoteFileHeader > span {
  font-size: 32px;
  margin: 6px;
}